<header>
    <div class="header-content">
      <div class="logo">
        <a href='https://www.okta.com/' target="_blank" >
        <img alt='Github link to repo'  src='https://cdn.brandfolder.io/2VK5Y09C/at/c8nxgg3ptt6zmrggjt85hshg/Logo_Okta_Blue_RGB.png?height=51&width=150' class="okta_logo" width="10%" height="10%" >
        </a>
        &nbsp;
        <a href='https://www.okta.com/services/success-and-support/' target="_blank" >
            <img alt='Github link to repo'  src='https://cdn.brandfolder.io/2VK5Y09C/at/5hf5mqw3gjt7k9jh9ss875b/Logo_Customer-Success_45x250.png?height=27&width=150' class="okta_logo" width="10%" height="10%" >
            </a>
      </div>
    </div>  
 
</header>

