

<footer class="footer">
    <div class="container" >
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <!-- -------------- -->
                    <!-- Japanese ----- -->
                    <!-- -------------- -->
                    <!-- <li><a href="https://www.okta.com/jp/company/">会社情報</a></li>
                    <li><a href="https://status.okta.com/">システムステータス</a></li>
                    <li><a href="https://www.okta.com/jp/privacy-policy/">プライバシー</a></li>
                    <li><a href="https://developer.okta.com/">開発者サイト</a></li> -->
                    <!-- -------------- -->
                    <!-- -------------- -->
                    <!-- -------------- -->


                    <!-- -------------- -->
                    <!-- English ----- -->
                    <!-- -------------- -->
                    <li><a href="https://www.okta.com/jp/company/">Company</a></li>
                    <li><a href="https://status.okta.com/">System status</a></li>
                    <li><a href="https://www.okta.com/jp/privacy-policy/">Privacy</a></li>
                    <li><a href="https://developer.okta.com/">Developer</a></li>
                    <!-- -------------- -->
                    <!-- -------------- -->
                    <!-- -------------- -->                    
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    Copyright © {{strdate | date: 'yyyy'}}, Okta. All rights reserved.
                    <p> </p>
                </span>
                
            </div>
        </div>
    </div>
</footer>
